html{
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    height: 100%;
}
a{
    color: #eee;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
p{
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

div.header{
    width: 100%;
    height: 70px;
    border: solid 1px #000;
    border-radius: 0 0 30px 30px;
    box-sizing: border-box;
    /*line-height: 100%; なくても大丈夫*/
}
div.header .logo{
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}
div.header .logo img{
    vertical-align: middle;
    height: 100%;
    margin: 0 10px;
}
div.header .logo p{
    vertical-align: middle;
    height: 100%;
    font-size: 29px;
    font-weight: bold;
}
div.header .contents{
    display: inline-block;
}
div.header .btn{
    display: inline-block;
    vertical-align: middle;
    height: 50%;
    border: solid 1px #333;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 0 5px;
}
div.header .btn.login{
    float: right;
    margin: 18px 2% 0 0;
}
div.header .btn p{
    font-size: 20px;
    margin: 0 12px;
}

div.main{
    width: 90%;
    margin: 0 auto;
}

div.product_sb{
    width: 70%;
    height: 350px;
    border: solid 1px;
    box-sizing: border-box;
    margin: 3% auto;
}
/* screen */
div.screen{
    display: inline-block;
    width: 90%;
    height: 90%;
    border: solid 1px;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0 auto;
}
div.screen img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    margin: 4px 0 0 23px;
}
div.product_sb .scroll{
    width: 4%;
    border: solid 1px;
    display: inline-block;
    margin: 0 auto;
}
div.product_sb .scroll .btn{
    width: 100%;
    height: 100%;
    border: solid 1px;
}
div.product_sb .scroll img{
    width: 100%;
}
#sb_btn_s{
    border: solid 1px;
    width: 20%;
    margin: 0 auto;
}
#sb_btn_s div{
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border: solid 1px;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 0 2px;
}
#sb_btn_s div a{
    display: block;
    width: 100%;
    height: 100%;
}

/* サークルについて */
div.m_b{
    margin: 50px auto;
    border-bottom: solid 1px #a0a0a0;
}
div.m_b .title{
    display: table;
    font-size: 40px;
    border-bottom: solid 1px;
    box-sizing: border-box;
    margin: 5px;
}
div.m_b .msg{
    width: 80%;
    font-size: 1.2vw;
    margin: 20px auto;
}
div.m_b .team{
    font-size: 30px;
}
div.m_b .msg .msg{
    width: 95%;
    font-size: 1vw;
    margin: 30px auto;
}

div.m_b .faq-main{
    width: 80%;
    border: solid 1px;
    box-sizing: border-box;
    margin: 20px auto;
}
div.m_b .faq-main .faq-box{
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    height: 300px;
    border: solid 1px;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 0 0 6px 0;
}
div.faq-box .question{
    display: inline-block;
    width: 100%;
    border: solid 1px;
    box-sizing: border-box;
    margin: 10px 0;
}
div.faq-box .question .q-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 30px;
    margin: 20px 0 0 20px;
}
div.faq-box .question .a-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 30px;
    margin: 20px 0 0 20px;
}
div.faq-box .question .q-icon p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
div.faq-box .question .a-icon p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
div.faq-box .question .q-msg{
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    height: 30px;
    font-size: 1vw;
}

div.footer{
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #000000;
}
div.footer .f-main .f-title{
    width: 95%;
    margin: 0 auto;
}
div.footer .f-main .f-title p{
    font-size: 30px;
    color: #eee;
}
div.footer .f-main .f-msg{
    width: 70%;
    margin: 0 auto;
}
div.footer .f-main .f-msg p{
    font-size: 16px;
    color: #eee;
}
div.footer .f-main .f-link{
    width: 500px;
    margin: 10px auto;
}
div.footer .f-main .f-link a{
    text-decoration: underline;
    margin: 0 2%;
}