html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
a{
    text-decoration: none;
}
p, a, input, textarea{
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

div.header{
    width: 100%;
    height: 70px;
    border: solid 1px #000;
    border-radius: 0 0 30px 30px;
    box-sizing: border-box;
    /*line-height: 100%; なくても大丈夫*/
}
div.header .logo{
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}
div.header .logo img{
    vertical-align: middle;
    height: 100%;
    margin: 0 10px;
}
div.header .logo p{
    vertical-align: middle;
    height: 100%;
    font-size: 29px;
    font-weight: bold;
}
div.header .contents{
    display: inline-block;
}
div.header .btn{
    display: inline-block;
    vertical-align: middle;
    height: 50%;
    border: solid 1px #333;
    border-radius: 30px;
    margin: 0 5px;
}
div.header .btn p{
    font-size: 20px;
    margin: 0 12px;
}
div.header .btn.login{
    float: right;
    margin: 18px 2% 0 0;
}

#products{
    width: 93%;
    text-align: justify;
    margin: 5% auto;
}
#products:after{
    content:"";
    display: inline-block;
    width: 100%;
    line-height:0;
    height: 0;   
}
div.product-box{
    position: relative;
    display: inline-block;
    width: 32%;
    border: solid 1px #000;
    border-radius: 30px;
    margin-bottom: 25px;
}
div.product-box:before {
    content: "";
    display: block;
    padding-top: 75%;
}
div.product-box .box-main{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div.product-box .image{
    position: relative;
    width: 100%;
    height: 70%;
    border-bottom: solid 1px #000;
}
div.product-box .hover:hover{
    box-sizing: border-box;
    border: solid 3px #000000;
    border-radius: 30px 30px 0 0;
}
div.product-box #btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
div.product-box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}
div.product-box .box-main .text{
    padding: 10px;
}
div.product-box .box-main .text p{
    font-size: 1vw;
}
div.product-box .box-main .text p.header{
    font-size: 1.3vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
div.product-box #header{
    width: 100%;
    font-size: 1.3vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    border: 0;
    margin-bottom: 4px;
}
div.product-box #message{
    width: 100%;
    font-size: 1vw;
    border: 0;
}
div.create-btn{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 15%;
    height: 12%;
    border: solid 2px #4ea71d;
    border-radius: 10px;
    background-color: #55c500;
}
div.create-btn a{
    display: block;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}
div.product-box .date{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18%;
    height: 10%;
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    background: #ffffff75;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-radius: 10px 0 0 0;
}
